@use "style/color";

.message-view {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: flex-end;

    &.received {
        justify-content: flex-start;
    }
}

.message-bubble {
    max-width: 400px;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 3px;
    color: white;

    &.received {
        background-color: color.$apple-bigsur-gray-background;
        color: unset;
    }

    &.sent {
        &.iMessage {
            background-color: color.$apple-bigsur-blue;
        }

        &.SMS {
            background-color: color.$apple-bigsur-green;
        }
    }

    img {
        max-width: 400px;
        max-height: 200px;
        border-radius: 15px;
    }
}
