@use "style/color";

.preview-card {
    * {
        cursor: default;
    }

    border-radius: 10px;
    display: flex;
    padding: 5px;

    &.is-selected {
        background-color: color.$apple-bigsur-blue;
        color: white;
    }
}
